<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Employee List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Manage Employee</h1>
    <table class="table table-active">
        <tr>
            <th>Id</th>
            <th>HoTen</th>
            <th>GioiTinh</th>
            <th>NgaySinh</th>
            <th>DiaChi</th>
            <th>MaLop</th>
        </tr>
        <tr th:each="em : ${student}">
            <td th:text="${em.id}"></td>
            <td th:text="${em.HoTen}"></td>
            <td th:text="${em.GioiTinh}"></td>
            <td th:text="${em.NgaySinh}"></td>
            <td th:text="${em.DiaChi}"></td>
            <td th:text="${em.MaLop}"></td>
            <td>
                <a th:href="@{/edit?id={id}(id=${em.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/delete?id={id}(id=${em.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/add" class="btn btn-success">Add User</a>
</div>
</body>
</html>